html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: $pad + 40 $pad - 5;
  font-family: $ffamily;
  font-size: $fontsize;
  background-color: $lblue;
}
